Repository softeerbootcamp-2nd/H8-YoungCha, pull requests merged in 2023-08, with the labels that each got.

#4 [AOS] chore: 프로젝트 초기 세팅
  android/.gitignore
  android/app/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/youngcha/ohmycarset/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/MainActivity.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/com/youngcha/ohmycarset/ExampleUnitTest.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: 🤖 AOS

#6 [AOS] design: 이미지, 아이콘, 폰트 추가
  android/app/src/main/res/drawable/ic_arrow.xml
  android/app/src/main/res/drawable/ic_change.xml
  android/app/src/main/res/drawable/ic_check_off.xml
  android/app/src/main/res/drawable/ic_check_on.xml
  android/app/src/main/res/drawable/ic_close.xml
  android/app/src/main/res/drawable/ic_dictionary_off.xml
  android/app/src/main/res/drawable/ic_dictionary_on.xml
  android/app/src/main/res/drawable/ic_drop_down.xml
  android/app/src/main/res/drawable/ic_edit.xml
  android/app/src/main/res/drawable/ic_exit.xml
  android/app/src/main/res/drawable/ic_face.xml
  android/app/src/main/res/drawable/ic_feedback.xml
  android/app/src/main/res/drawable/ic_guide.xml
  android/app/src/main/res/drawable/ic_handle.xml
  android/app/src/main/res/drawable/ic_model_change.xml
  android/app/src/main/res/drawable/ic_trim_change.xml
  android/app/src/main/res/drawable/img_cool_grey.png
  android/app/src/main/res/drawable/img_guide.png
  android/app/src/main/res/drawable/img_guide_mode.xml
  android/app/src/main/res/drawable/img_leblanc.png
  android/app/src/main/res/drawable/img_onboarding.png
  android/app/src/main/res/drawable/img_onboarding_dictionary_mode.png
  android/app/src/main/res/drawable/img_onboarding_guide_mode.png
  android/app/src/main/res/drawable/img_quilting_natural.png
  android/app/src/main/res/font/font.xml
  android/app/src/main/res/font/hyundai_sans_head_bold.ttf
  android/app/src/main/res/font/hyundai_sans_head_kr_otf_bold.ttf
  android/app/src/main/res/font/hyundai_sans_head_kr_otf_medium.ttf
  android/app/src/main/res/font/hyundai_sans_head_kr_otf_regular.ttf
  android/app/src/main/res/font/hyundai_sans_head_medium.ttf
  android/app/src/main/res/font/hyundai_sans_text_kr_otf_bold.ttf
  android/app/src/main/res/font/hyundai_sans_text_kr_otf_medium.ttf
  android/app/src/main/res/font/hyundai_sans_text_kr_otf_regular.ttf
  android/app/src/main/res/font/hyundai_sans_text_medium.ttf
Labels: 💄design, 🤖 AOS

#7 [FE] 프로젝트 환경 설정
  client/.eslintrc.cjs
  client/.gitignore
  client/.husky/commit-msg
  client/.husky/pre-commit
  client/.prettierrc.cjs
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/README.md
  client/_templates/new/component/index-stories.ejs.t
  client/_templates/new/component/index.ejs.t
  client/commitlint.config.js
  client/index.html
  client/package.json
  client/pnpm-lock.yaml
  client/postcss.config.js
  client/public/vite.svg
  client/src/App.css
  client/src/App.tsx
  client/src/assets/react.svg
  client/src/index.css
  client/src/main.tsx
  client/src/vite-env.d.ts
  client/tailwind.config.js
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
Labels: ✨ Feature, 🖥️ FE

#17 [FE] 프로젝트 디렉토리 구조 설계
  client/src/components/Button/index.stories.tsx
  client/src/components/Button/index.tsx
  client/src/hooks/index.ts
  client/src/pages/home/index.tsx
  client/src/service/index.ts
  client/src/store/index.ts
  client/src/types/index.d.ts
  client/src/utils/index.ts
Labels: ✨ Feature, 🖥️ FE

#18 [FE] lint staged dependency 설정 오류
  client/package.json
  client/pnpm-lock.yaml
Labels: 🐛 Bug, 🖥️ FE

#16 [BE] 프로젝트 초기 설정
  .github/workflows/be-ci.yml
  .idea/.gitignore
  .idea/h8.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  server/.gitignore
  server/Dockerfile
  server/build.gradle
  server/docker-compose.local.yml
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/settings.gradle
  server/src/main/java/com/youngcha/server/ServerApplication.java
  server/src/main/java/com/youngcha/server/car/Car.java
  server/src/main/resources/application.yml
  server/src/main/resources/schema.sql
  server/src/test/java/com/youngcha/server/ServerApplicationTests.java
  server/src/test/java/com/youngcha/server/car/CarTest.java
  server/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ BE

#25 [AOS] 온보딩 화면
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/OnBoardingActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/OnBoardingFirstFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/OnBoardingSecondFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/OnBoardingThirdFragment.kt
  android/app/src/main/res/anim/fade_in.xml
  android/app/src/main/res/anim/fade_out.xml
  android/app/src/main/res/anim/slide_in_left.xml
  android/app/src/main/res/anim/slide_in_right.xml
  android/app/src/main/res/anim/slide_out_left.xml
  android/app/src/main/res/anim/slide_out_right.xml
  android/app/src/main/res/drawable/btn_mainstyle.xml
  android/app/src/main/res/drawable/img_guide_mode.xml
  android/app/src/main/res/layout/fragment_onboarding_page1.xml
  android/app/src/main/res/layout/fragment_onboarding_page2.xml
  android/app/src/main/res/layout/fragment_onboarding_page3.xml
  android/app/src/main/res/layout/onboarding_activity.xml
  android/app/src/main/res/navigation/onboarding_page.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 AOS

#29 [FE] Tailwind CSS 픽셀 단위 설정
  client/plugins/pixel.js
  client/tailwind.config.js
Labels: ✨ Feature, 🖥️ FE

#31 [BE] 기본 응답 및 예외처리
  server/build.gradle
  server/settings.gradle
  server/src/main/java/com/youngcha/server/car/Car.java
  server/src/main/java/team/youngcha/YoungchaApplication.java
  server/src/main/java/team/youngcha/common/dto/ErrorResponse.java
  server/src/main/java/team/youngcha/common/dto/SuccessResponse.java
  server/src/main/java/team/youngcha/common/exception/CustomException.java
  server/src/main/java/team/youngcha/common/exception/GlobalExceptionHandler.java
  server/src/main/java/team/youngcha/test/TestController.java
  server/src/main/resources/schema.sql
  server/src/test/java/com/youngcha/server/ServerApplicationTests.java
  server/src/test/java/com/youngcha/server/car/CarTest.java
  server/src/test/java/team/youngcha/IntegrationTestBase.java
  server/src/test/java/team/youngcha/test/TestIntegrationTest.java
Labels: ✨ Feature, ⚙️ BE

#33 [AOS] 트림 선택 후 메인 화면
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimCategory.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimCategoryState.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimSelfMode.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimSelfModeExteriorColor.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimSelfModeInteriorColor.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimSelfModeMainOption.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimSelfModeOption.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimState.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/MainActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/OnBoardingActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/TrimSelectAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelectAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeExteriorColorAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeInteriorColorAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeOptionAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/CircleCustomView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/GuideModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingFirstFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingSecondFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingThirdFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/SelfModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelfModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/listener/CustomScrollChangeListener.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/decorator/GridSpacingItemDecoration.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/decorator/TopSpacingItemDecoration.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/TrimSelectViewModel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/TrimSelfModeViewModel.kt
  android/app/src/main/res/drawable/btn_plus_info.xml
  android/app/src/main/res/drawable/ic_drop_down_plus_info.xml
  android/app/src/main/res/drawable/ic_drop_down_trim.xml
  android/app/src/main/res/drawable/img_core_option_explain.png
  android/app/src/main/res/drawable/img_test_1.png
  android/app/src/main/res/drawable/img_test_2.png
  android/app/src/main/res/drawable/img_test_3.png
  android/app/src/main/res/drawable/img_test_4.png
  android/app/src/main/res/drawable/img_test_5.png
  android/app/src/main/res/drawable/tab_background_selector.xml
  android/app/src/main/res/drawable/tab_text_color_selector.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_self_mode.xml
  android/app/src/main/res/layout/fragment_trim_self_mode.xml
  android/app/src/main/res/layout/item_trim_select.xml
  android/app/src/main/res/layout/item_trim_self_mode_exteior_color.xml
  android/app/src/main/res/layout/item_trim_self_mode_interior_color.xml
  android/app/src/main/res/layout/item_trim_self_mode_option.xml
  android/app/src/main/res/layout/view_custom_tab.xml
  android/app/src/main/res/navigation/nav_trim.xml
  android/app/src/main/res/navigation/onboarding_page.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#34 [BE] Swagger 설정
  server/build.gradle
  server/src/main/java/team/youngcha/common/dto/ErrorResponse.java
  server/src/main/java/team/youngcha/common/dto/SuccessResponse.java
  server/src/main/java/team/youngcha/config/SwaggerConfig.java
  server/src/main/java/team/youngcha/test/TestController.java
  server/src/main/resources/application.yml
  server/src/test/java/team/youngcha/test/TestIntegrationTest.java
Labels: ✨ Feature, ⚙️ BE

#39 [FE] tailwind 초기 설정 변경
  client/package.json
  client/plugins/typography.js
  client/src/index.css
  client/tailwind.config.js
  client/tsconfig.json
  client/vite.config.ts
Labels: 🐛 Bug, 🖥️ FE

#50 [AOS] 트림 선택 가이드 모드 화면 구현
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelfModeFragment.kt
  android/app/src/main/res/drawable/ic_best.xml
  android/app/src/main/res/drawable/img_main_feature.xml
  android/app/src/main/res/drawable/img_progress.xml
  android/app/src/main/res/drawable/shape_round.xml
  android/app/src/main/res/layout/fragment_guide_mode.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 AOS

#47 [BE] Backend CD 구축
  .github/workflows/be-cd.yml
  .gitignore
  server/.gitignore
  server/Dockerfile
  server/src/main/resources/application.yml
Labels: ✨ Feature, ⚙️ BE

#55 [AOS] 공통 컴포넌트: 상단 툴바 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/MainActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/HeaderToolBar.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/interfaces/OnHeaderToolbarClickListener.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/view_header_toolbar.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/themes.xml
Labels: ✨ Feature, 🤖 AOS

#48 [FE] 헤더 레이아웃 구성
  client/src/App.tsx
  client/src/assets/icons/car-icon.tsx
  client/src/assets/icons/dictionary-off-icon.tsx
  client/src/assets/icons/dictionary-on-icon.tsx
  client/src/assets/icons/hyundai-logo.tsx
  client/src/assets/icons/index.ts
  client/src/assets/icons/model-change-arrow.tsx
  client/src/components/Header/DictionaryToggleButton.tsx
  client/src/components/Header/HyundaiLogoButton.tsx
  client/src/components/Header/ModelChangeButton.tsx
  client/src/components/Header/index.stories.tsx
  client/src/components/Header/index.tsx
Labels: ✨ Feature, 🖥️ FE

#58 [FE] 라우터 설정
  client/src/App.tsx
  client/src/main.tsx
  client/src/router/index.tsx
Labels: ✨ Feature, 🖥️ FE

#61 [AOS] Single Activity Multiple Fragments 구조 적용
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/MainActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/OnBoardingActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/GuideModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/MakeCarSelfModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingThirdFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelfModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/viewExtensions.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/TrimSelfModeViewModel.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_make_car_self_mode.xml
  android/app/src/main/res/layout/fragment_trim_select.xml
  android/app/src/main/res/layout/layout_guide_mode.xml
  android/app/src/main/res/layout/layout_self_mode.xml
  android/app/src/main/res/layout/onboarding_activity.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/navigation/nav_trim.xml
  android/app/src/main/res/navigation/onboarding_page.xml
Labels: ♻️ Refactor, 🤖 AOS

#62 [BE] 백카사전 API
  server/build.gradle
  server/src/main/java/team/youngcha/domain/dictionary/Dictionary.java
  server/src/main/java/team/youngcha/domain/dictionary/controller/DictionaryController.java
  server/src/main/java/team/youngcha/domain/dictionary/dto/FindDictionaryResponse.java
  server/src/main/java/team/youngcha/domain/dictionary/repository/DictionaryRepository.java
  server/src/main/java/team/youngcha/domain/dictionary/service/DictionaryService.java
  server/src/test/java/team/youngcha/domain/dictionary/DictionaryIntegrationTest.java
  server/src/test/java/team/youngcha/test/TestIntegrationTest.java
  server/src/test/resources/data/dictionary.sql
Labels: ✨ Feature, ⚙️ BE

#74 [AOS] 공통컴포넌트(선택 버튼) 구현
  android/app/src/main/java/com/youngcha/ohmycarset/model/BodyType.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/DrivingSystem.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/ExteriorColor.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/InteriorColor.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/Option.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/Palisade.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/PowerTrain.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/Wheel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/PowerTrainFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/interfaces/ComponentClick.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarComponentViewModel.kt
  android/app/src/main/res/drawable/btn_select_style.xml
  android/app/src/main/res/drawable/btn_unselect_style.xml
  android/app/src/main/res/drawable/ic_group.xml
  android/app/src/main/res/drawable/img_logo_genuine.png
  android/app/src/main/res/drawable/tag_style.xml
  android/app/src/main/res/layout/component_select_button.xml
  android/app/src/main/res/layout/fragment_selfmode_powertrain.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#65 [FE] 공통 컴포넌트 버튼 구현
  client/.storybook/preview.ts
  client/src/components/Button/index.stories.tsx
  client/src/components/Button/index.tsx
Labels: ✨ Feature, 💄design, 🖥️ FE

#77 [AOS] 공통 컴포넌트: 텍스트 팝업창 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/model/dialog/SwipeDialog.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/dialog/TextDialog.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/dialog/SwipeAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/SwipeDialogView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/TextDialogView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/res/drawable/dialog_background.xml
  android/app/src/main/res/drawable/dialog_text_box.xml
  android/app/src/main/res/layout/dialog_text.xml
  android/app/src/main/res/layout/item_dialog_swipe.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#79 [AOS] 공통 컴포넌트: 버튼 팝업창 구현
  android/app/src/main/java/com/youngcha/ohmycarset/model/dialog/ButtonDialog.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/ButtonDialogView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/res/drawable/btn_basic.xml
  android/app/src/main/res/drawable/btn_main_style.xml
  android/app/src/main/res/layout/dialog_button.xml
  android/app/src/main/res/layout/fragment_onboarding_page1.xml
  android/app/src/main/res/layout/fragment_onboarding_page2.xml
  android/app/src/main/res/layout/fragment_onboarding_page3.xml
  android/app/src/main/res/layout/item_trim_self_mode_exteior_color.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#67 [FE] 프로그레스바 컴포넌트 구현
  client/src/components/ProgressBar/ProgressItem.tsx
  client/src/components/ProgressBar/SelectedBar.tsx
  client/src/components/ProgressBar/index.stories.tsx
  client/src/components/ProgressBar/index.tsx
Labels: ✨ Feature, 🖥️ FE

#64 [FE] 내 차 만들기 모드 선택 버튼 구현
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/package.json
  client/pnpm-lock.yaml
  client/src/assets/icons/ChevronRight.tsx
  client/src/assets/mock/TrimCard/option1.svg
  client/src/assets/mock/TrimCard/option2.svg
  client/src/assets/mock/TrimCard/option3.svg
  client/src/assets/mock/mock.ts
  client/src/components/MakingModeButton/DetailCard.tsx
  client/src/components/MakingModeButton/GuideModeDetailList/constant.ts
  client/src/components/MakingModeButton/GuideModeDetailList/index.tsx
  client/src/components/MakingModeButton/MainOptionList/MainOption.tsx
  client/src/components/MakingModeButton/MainOptionList/constant.ts
  client/src/components/MakingModeButton/MainOptionList/index.tsx
  client/src/components/MakingModeButton/constant.ts
  client/src/components/MakingModeButton/index.stories.tsx
  client/src/components/MakingModeButton/index.tsx
  client/src/index.css
Labels: ✨ Feature, 🖥️ FE

#86 [FE] 스타일 관련 오류 수정
  client/plugins/typography.js
  client/src/index.css
Labels: 🐛 Bug, 🖥️ FE

#87 [FE] Proxy 설정 및 개발 환경 URL 경로 설정
  client/.gitignore
  client/src/types/vite-env.d.ts
  client/vite.config.ts
Labels: ✨ Feature, 🖥️ FE

#88 [AOS] 내 차 만들기 방식 변경 팝업창 구현
  android/app/src/main/java/com/youngcha/ohmycarset/model/dialog/ButtonDialog.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/dialog/ButtonHorizontal.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/dialog/ButtonVertical.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/ButtonDialogView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/res/drawable/style_active_blue_color_border.xml
  android/app/src/main/res/drawable/style_hyundai_main_color_border.xml
  android/app/src/main/res/drawable/style_sky_blue_color_border.xml
  android/app/src/main/res/layout/dialog_button.xml
  android/app/src/main/res/layout/item_dialog_swipe.xml
  android/app/src/main/res/layout/layout_dialog_horizontal_button.xml
  android/app/src/main/res/layout/layout_dialog_vertical_button.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#92 [FE] 내 차 만들기 모드 선택 버튼 오류 수정
  client/src/components/MakingModeButton/GuideModeDetailList/index.tsx
  client/src/index.css
Labels: 🐛 Bug, 🖥️ FE

#95 [BE] JDBC template으로 변환
  server/build.gradle
  server/src/main/java/team/youngcha/domain/car/entity/Car.java
  server/src/main/java/team/youngcha/domain/car/repository/CarRepository.java
  server/src/main/java/team/youngcha/domain/category/entity/Category.java
  server/src/main/java/team/youngcha/domain/category/repository/CategoryRepository.java
  server/src/main/java/team/youngcha/domain/dictionary/entity/Dictionary.java
  server/src/main/java/team/youngcha/domain/dictionary/repository/DictionaryRepository.java
  server/src/main/java/team/youngcha/domain/estimate/entity/Estimate.java
  server/src/main/java/team/youngcha/domain/estimate/entity/EstimateSelectiveOption.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateSelectiveOptionRepository.java
  server/src/main/java/team/youngcha/domain/keyword/entity/Keyword.java
  server/src/main/java/team/youngcha/domain/keyword/repository/KeywordRepository.java
  server/src/main/java/team/youngcha/domain/option/entity/Option.java
  server/src/main/java/team/youngcha/domain/option/entity/OptionDetail.java
  server/src/main/java/team/youngcha/domain/option/entity/OptionImage.java
  server/src/main/java/team/youngcha/domain/option/entity/OptionKeyword.java
  server/src/main/java/team/youngcha/domain/option/entity/OptionRelation.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionDetailRepository.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionImageRepository.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionKeywordRepository.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRelationRepository.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/sell/entity/Sell.java
  server/src/main/java/team/youngcha/domain/sell/entity/SellSelectiveOption.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellSelectiveOptionRepository.java
  server/src/main/java/team/youngcha/domain/trim/entity/Trim.java
  server/src/main/java/team/youngcha/domain/trim/entity/TrimOption.java
  server/src/main/java/team/youngcha/domain/trim/repository/TrimOptionRepository.java
  server/src/main/java/team/youngcha/domain/trim/repository/TrimRepository.java
  server/src/main/resources/schema.sql
Labels: ♻️ Refactor, ⚙️ BE

#97 [AOS] 자동차 데이터 구조 설계
  android/app/src/main/java/com/youngcha/ohmycarset/enums/AdditionalTab.kt
  android/app/src/main/java/com/youngcha/ohmycarset/enums/ImageType.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/Car.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/ImageInfo.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/OptionInfo.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/MakeCarSelfModeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/drawable/img_test_make_car_01.png
  android/app/src/main/res/drawable/img_test_make_car_02.png
  android/app/src/main/res/drawable/img_test_make_car_03.png
  android/app/src/main/res/drawable/img_test_make_car_04.png
  android/app/src/main/res/drawable/img_test_make_car_05.png
  android/app/src/main/res/drawable/img_test_make_car_06.png
  android/app/src/main/res/drawable/img_test_make_car_07.png
  android/app/src/main/res/drawable/img_test_make_car_option_01.png
  android/app/src/main/res/drawable/img_test_make_car_option_02.png
Labels: ✨ Feature, 🤖 AOS

#90 [FE] 공통 컴포넌트 Select Button 구현
  client/src/assets/icons/index.ts
  client/src/assets/icons/select-check-inactive.tsx
  client/src/assets/icons/select-check.tsx
  client/src/components/SelectButton/index.stories.tsx
  client/src/components/SelectButton/index.tsx
Labels: ✨ Feature, 🖥️ FE

#98 [FE] Frontend CD 설정
  .github/workflows/fe-cd.yml
Labels: ✨ Feature, 🖥️ FE

#103 [AOS] 로딩 화면 구현
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/LoadingFragment.kt
  android/app/src/main/res/drawable/circle_progressbar.xml
  android/app/src/main/res/drawable/ic_loading1.xml
  android/app/src/main/res/drawable/ic_loading2.xml
  android/app/src/main/res/drawable/ic_loading3.xml
  android/app/src/main/res/layout/fragment_loading.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#115 [AOS] 백카사전 다이얼로그 레이아웃 구현
  android/app/src/main/res/layout/dialog_dictionary.xml
Labels: 💄design, 🤖 AOS

#113 [AOS] 가이드 모드 사전준비 구현
  android/app/build.gradle
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Age.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Gender.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Important.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Keyword.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Strength.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Use.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/AgeAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/GenderAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/ImportantAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/StrengthAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/UseAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/AgeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/GenderFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/KeywordFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/decorator/GridItemDecoration.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/decorator/LinearItemDecoration.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/UserTagViewModel.kt
  android/app/src/main/res/anim/slide_down.xml
  android/app/src/main/res/drawable/gradation.xml
  android/app/src/main/res/drawable/ic_circle.xml
  android/app/src/main/res/drawable/ic_unchecked.xml
  android/app/src/main/res/drawable/img_particle.png
  android/app/src/main/res/drawable/img_trim_leblanc.png
  android/app/src/main/res/layout/fragment_estimate_ready.xml
  android/app/src/main/res/layout/fragment_preliminaries_age.xml
  android/app/src/main/res/layout/fragment_preliminaries_gender.xml
  android/app/src/main/res/layout/fragment_preliminaries_keyword.xml
  android/app/src/main/res/layout/preliminaries_long_button.xml
  android/app/src/main/res/layout/preliminaries_short_button.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: ✨ Feature, 💄design, 🤖 AOS

#117 [FE] FullScreenLayout 컴포넌트 구현
  client/src/components/Header/index.tsx
  client/src/components/layout/FullScreenLayout.tsx
  client/src/index.css
  client/src/pages/home/index.tsx
  client/src/router/index.tsx
Labels: 💄design, 🖥️ FE

#109 [FE] 견적 완료 로딩화면 구현
  client/src/assets/icons/Spanner.tsx
  client/src/assets/icons/car-icon.tsx
  client/src/assets/icons/index.ts
  client/src/pages/making/loading/LoadingCircle.tsx
  client/src/pages/making/loading/LoadingIcons.tsx
  client/src/pages/making/loading/LoadingStep.tsx
  client/src/pages/making/loading/constant.ts
  client/src/pages/making/loading/index.tsx
  client/tailwind.config.js
Labels: ✨ Feature, 🖥️ FE

#125 [BE] Body type, Driving system self mode API 구현
  server/src/main/java/team/youngcha/domain/car/dto/FindCarDetailsResponse.java
  server/src/main/java/team/youngcha/domain/car/entity/Car.java
  server/src/main/java/team/youngcha/domain/car/repository/CarRepository.java
  server/src/main/java/team/youngcha/domain/category/enums/BasicCategory.java
  server/src/main/java/team/youngcha/domain/category/enums/SelectiveCategory.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/controller/SelfOptionController.java
  server/src/main/java/team/youngcha/domain/option/dto/FindOptionDetailResponse.java
  server/src/main/java/team/youngcha/domain/option/dto/OptionSummary.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/main/java/team/youngcha/domain/trim/dto/TrimDetail.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
  server/src/test/java/team/youngcha/IntegrationTestBase.java
  server/src/test/java/team/youngcha/domain/dictionary/DictionaryIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/GuideOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/OptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/SelfOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
  server/src/test/java/team/youngcha/domain/sell/repository/SellRepositoryTest.java
  server/src/test/resources/data/clear.sql
  server/src/test/resources/data/options_detail.sql
  server/src/test/resources/data/options_image.sql
Labels: ✨ Feature, ♻️ Refactor, ⚙️ BE

#126 [BE] 트림 기본 품목 조회 API
  server/src/main/java/team/youngcha/domain/car/repository/CarRepository.java
  server/src/main/java/team/youngcha/domain/category/enums/BasicCategory.java
  server/src/main/java/team/youngcha/domain/category/enums/SelectiveCategory.java
  server/src/main/java/team/youngcha/domain/option/dto/DefaultOptionSummary.java
  server/src/main/java/team/youngcha/domain/option/dto/FindOptionDetailResponse.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/trim/controller/TrimController.java
  server/src/main/java/team/youngcha/domain/trim/dto/FindTrimDefaultOptionsResponse.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
  server/src/test/java/team/youngcha/IntegrationTestBase.java
  server/src/test/java/team/youngcha/domain/car/service/CarServiceTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionDefaultComponentsTest.java
  server/src/test/java/team/youngcha/domain/trim/TrimDefaultComponentsIntegrationTest.java
  server/src/test/java/team/youngcha/domain/trim/service/TrimServiceTest.java
  server/src/test/resources/data/clear.sql
Labels: ✨ Feature, ⚙️ BE

#135 [AOS] 내 차 만들기 - 바텀시트 구현
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/OptionInfo.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/EstimateSummaryAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/viewpager/CarOptionPagerAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/drawable/style_bottom_sheet.xml
  android/app/src/main/res/drawable/style_bottom_sheet_handle.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/item_estimate_summary.xml
  android/app/src/main/res/layout/layout_bottom_sheet_estimate_summary.xml
  android/app/src/main/res/layout/layout_estimate_summary.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/build.gradle
Labels: ✨ Feature, 💄design, 🤖 AOS

#118 [FE] 옵션페이지 레이아웃
  client/src/assets/icons/index.ts
  client/src/assets/icons/prepare-guide/InactiveRound.tsx
  client/src/components/Button/index.tsx
  client/src/components/ProgressBar/ProgressItem.tsx
  client/src/components/ProgressBar/index.stories.tsx
  client/src/components/ProgressBar/index.tsx
  client/src/components/SelectButton/index.tsx
  client/src/pages/guide/CompleteGuide.tsx
  client/src/pages/guide/PrepareGuide.tsx
  client/src/pages/guide/SelectButtonsBox/AgeSelectButtonsBox.tsx
  client/src/pages/guide/SelectButtonsBox/GenderSelectButtonsBox.tsx
  client/src/pages/guide/SelectButtonsBox/KeywordButton.tsx
  client/src/pages/guide/SelectButtonsBox/KeywordSelectButtonsBox.tsx
  client/src/pages/guide/StepBox.tsx
  client/src/pages/guide/StepCircle.tsx
  client/src/pages/guide/TitleBox.tsx
  client/src/pages/guide/constant.ts
  client/src/pages/guide/index.tsx
  client/src/pages/guide/type.ts
  client/src/pages/home/GuideModeButton.tsx
  client/src/pages/home/TrimCardsBox.tsx
  client/src/pages/making/index.tsx
  client/src/router/index.tsx
Labels: ✨ Feature, 🖥️ FE

#136 [AOS] 가이드 모드 사전준비 코드 구조 수정
  android/app/src/main/java/com/youngcha/ohmycarset/enums/PreliminariesStepType.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/AgeAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/GenderAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/ImportantAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/StrengthAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/UseAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/AgeFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/GenderFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/KeywordFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/viewExtensions.kt
  android/app/src/main/res/layout/fragment_guidemode_preliminaries.xml
  android/app/src/main/res/layout/layout_estimate_ready.xml
  android/app/src/main/res/layout/layout_preliminaries_age.xml
  android/app/src/main/res/layout/layout_preliminaries_gender.xml
  android/app/src/main/res/layout/layout_preliminaries_keyword.xml
Labels: ♻️ Refactor, 🤖 AOS

#138 [BE] 옵션 카테고리 목록 조회 API, 자동차 모델 목록 조회 API 구현
  server/src/main/java/team/youngcha/domain/car/controller/CarController.java
  server/src/main/java/team/youngcha/domain/car/dto/CarResponse.java
  server/src/main/java/team/youngcha/domain/car/dto/FindCarsResponse.java
  server/src/main/java/team/youngcha/domain/car/repository/CarDetailsRepository.java
  server/src/main/java/team/youngcha/domain/car/repository/CarRepository.java
  server/src/main/java/team/youngcha/domain/car/service/CarService.java
  server/src/main/java/team/youngcha/domain/category/controller/CategoryController.java
  server/src/main/java/team/youngcha/domain/category/dto/CategoryResponse.java
  server/src/main/java/team/youngcha/domain/category/dto/FindCategoriesResponse.java
  server/src/main/java/team/youngcha/domain/category/entity/Category.java
  server/src/main/java/team/youngcha/domain/category/repository/CategoryRepository.java
  server/src/main/java/team/youngcha/domain/category/service/CategoryService.java
  server/src/main/java/team/youngcha/domain/dictionary/dto/FindDictionaryResponse.java
  server/src/main/java/team/youngcha/domain/option/dto/DefaultOptionSummary.java
  server/src/main/java/team/youngcha/domain/option/enums/OptionType.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/trim/dto/FindTrimDefaultOptionsResponse.java
  server/src/main/java/team/youngcha/domain/trim/enums/TrimOptionType.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
  server/src/test/java/team/youngcha/domain/car/FindCarDetailsIntegrationTest.java
  server/src/test/java/team/youngcha/domain/car/FindCarsIntegrationTest.java
  server/src/test/java/team/youngcha/domain/car/repository/CarDetailsRepositoryTest.java
  server/src/test/java/team/youngcha/domain/car/repository/CarRepositoryTest.java
  server/src/test/java/team/youngcha/domain/car/service/CarServiceTest.java
  server/src/test/java/team/youngcha/domain/category/FindCategoriesIntegrationTest.java
  server/src/test/java/team/youngcha/domain/category/repository/CategoryRepositoryTest.java
  server/src/test/java/team/youngcha/domain/category/service/CategoryServiceTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
  server/src/test/resources/data/car.sql
  server/src/test/resources/data/car_details.sql
Labels: ✨ Feature, ⚙️ BE

#140 [FE] 견적내기 완료 페이지 레이아웃
  client/src/assets/mock/mock.ts
  client/src/components/Header/DictionaryToggleButton.tsx
  client/src/components/Header/ModelChangeButton.tsx
  client/src/components/Header/index.tsx
  client/src/components/MakingModeButton/index.tsx
  client/src/components/layout/FullScreenLayout.tsx
  client/src/constant.ts
  client/src/pages/guide/CompleteGuide.tsx
  client/src/pages/guide/index.tsx
  client/src/pages/home/BasicOptionBox.tsx
  client/src/pages/home/CarsImageBox.tsx
  client/src/pages/home/constant.ts
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/complete/ModifyButton.tsx
  client/src/pages/making/complete/SummaryOption.tsx
  client/src/pages/making/complete/SummaryOptionsBox.tsx
  client/src/pages/making/constant.ts
  client/src/pages/making/detail-option-box/DetailBasicOptionBox.tsx
  client/src/pages/making/detail-option-box/DetailBasicOptionList.tsx
  client/src/pages/making/detail-option-box/DetailOption.tsx
  client/src/pages/making/detail-option-box/DetailOptionBox.tsx
  client/src/pages/making/detail-option-box/DetailOptionHeader.tsx
  client/src/pages/making/detail-option-box/DetailOptionList.tsx
  client/src/pages/making/detail-option-box/DetailOptionTabs.tsx
  client/src/pages/making/detail-option-box/DetailSelectOptionBox.tsx
  client/src/pages/making/index.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/pages/making/type.ts
  client/src/types/index.ts
  client/src/utils/index.ts
Labels: ✨ Feature, 🖥️ FE

#129 [AOS] 최종 견적보기 레이아웃
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/EstimateDetailAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateFragment.kt
  android/app/src/main/res/drawable/ic_edit_line.xml
  android/app/src/main/res/layout/fragment_estimate.xml
  android/app/src/main/res/layout/item_estimate_detail.xml
  android/app/src/main/res/layout/item_estimate_summary.xml
  android/app/src/main/res/layout/layout_estimate_detail.xml
  android/app/src/main/res/layout/layout_estimate_summary.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#143 [BE] 무중단 배포
  .github/workflows/be-cd.yml
  server/.gitignore
  server/Dockerfile
  server/docker-compose.yml
  server/script/deploy.sh
  server/script/health.sh
  server/script/profile.sh
  server/script/switch.sh
  server/src/main/java/team/youngcha/domain/profile/ProfileController.java
  server/src/main/java/team/youngcha/test/TestController.java
  server/src/main/resources/application.yml
  server/src/test/java/team/youngcha/profile/ProfileControllerTest.java
  server/src/test/java/team/youngcha/test/TestIntegrationTest.java
Labels: ✨ Feature, ⚙️ BE

#150 [AOS] 최종 견적 보기 데이터 연동
  android/app/build.gradle
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/EstimateDetailAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/fragment_estimate.xml
  android/app/src/main/res/layout/item_estimate_detail.xml
  android/app/src/main/res/layout/layout_estimate.xml
  android/app/src/main/res/layout/layout_estimate_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 AOS

#154 [BE] 옵션 테이블 구조 변경
  server/src/main/java/team/youngcha/domain/option/dto/FindGuideOptionResponse.java
  server/src/main/java/team/youngcha/domain/option/dto/FindSelfOptionResponse.java
  server/src/main/java/team/youngcha/domain/option/entity/Option.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/resources/schema.sql
  server/src/test/java/team/youngcha/domain/keyword/repository/KeywordRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/GuideOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/SelfOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionDetailRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionImageRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
  server/src/test/java/team/youngcha/domain/sell/repository/SellRepositoryTest.java
  server/src/test/resources/data/car_details.sql
  server/src/test/resources/data/options.sql
  server/src/test/resources/data/options_detail.sql
  server/src/test/resources/data/options_image.sql
Labels: ✨ Feature, ⚙️ BE

#160 [FE] API 요청 함수 구현
  client/src/hooks/useFetch.ts
  client/src/service/index.ts
Labels: ✨ Feature, 🖥️ FE

#144 [FE] Transition 컴포넌트 구현
  client/src/components/Transition/Transition.tsx
Labels: 💄design, 🖥️ FE

#156 [FE] 견적 요약 드로어 구현
  client/src/assets/icons/Close.tsx
  client/src/assets/icons/DownArrow.tsx
  client/src/assets/icons/index.ts
  client/src/components/SummaryModal/index.stories.tsx
  client/src/components/SummaryModal/index.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
Labels: ✨ Feature, 🖥️ FE

#173 [AOS] 셀프 & 가이드 모드 - |이전 || 선택완료 | 버튼 기능 구현
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/viewpager/CarOptionPagerAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 AOS

#170 [BE] 구동 방식, 바디 타입 guide mode API
  server/src/main/java/team/youngcha/common/exception/GlobalExceptionHandler.java
  server/src/main/java/team/youngcha/domain/dictionary/controller/DictionaryController.java
  server/src/main/java/team/youngcha/domain/dictionary/entity/Dictionary.java
  server/src/main/java/team/youngcha/domain/dictionary/service/DictionaryService.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/dto/FindOptionImageResponse.java
  server/src/main/java/team/youngcha/domain/option/entity/Option.java
  server/src/main/java/team/youngcha/domain/option/entity/OptionImage.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionDetailRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/profile/ProfileController.java
  server/src/test/java/team/youngcha/domain/estimate/repository/EstimateRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/GuideOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/SelfOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
  server/src/test/java/team/youngcha/domain/profile/ProfileControllerTest.java
  server/src/test/resources/data/options_detail.sql
  server/src/test/resources/data/options_image.sql
  server/src/test/resources/data/trim.sql
Labels: ✨ Feature, ⚙️ BE

#177 [BE] 키워드 비율 계산 수정
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/test/java/team/youngcha/domain/estimate/repository/EstimateRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/GuideOptionIntegrationTest.java
Labels: 🐛 Bug, ⚙️ BE

#182 [AOS] 가이드 모드 사전조사 화면 데이터바인딩
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Age.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Gender.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Important.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Keyword.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Strength.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Tag.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Use.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/AgeAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/GenderAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/ImportantAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/StrengthAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/UseAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/UserTagViewModel.kt
  android/app/src/main/res/layout/layout_preliminaries_age.xml
  android/app/src/main/res/layout/layout_preliminaries_gender.xml
  android/app/src/main/res/layout/layout_preliminaries_keyword.xml
  android/app/src/main/res/layout/preliminaries_long_button.xml
  android/app/src/main/res/layout/preliminaries_short_button.xml
Labels: ✨ Feature, ♻️ Refactor, 🤖 AOS

#180 [BE] Self mode 선택 옵션 조회 API
  server/src/main/java/team/youngcha/domain/car/repository/CarDetailsRepository.java
  server/src/main/java/team/youngcha/domain/category/enums/RequiredCategory.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/controller/SelfOptionController.java
  server/src/main/java/team/youngcha/domain/option/dto/FindSelfOptionResponse.java
  server/src/main/java/team/youngcha/domain/option/enums/OptionType.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellSelectiveOptionRepository.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
  server/src/test/java/team/youngcha/domain/estimate/repository/EstimateRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/SelfOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
  server/src/test/java/team/youngcha/domain/sell/repository/SellRepositoryTest.java
Labels: ✨ Feature, ⚙️ BE

#169 [AOS] 온보딩 화면 리팩토링
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingFirstFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingSecondFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/OnBoardingThirdFragment.kt
  android/app/src/main/res/layout/fragment_onboarding.xml
  android/app/src/main/res/layout/fragment_onboarding_page1.xml
  android/app/src/main/res/layout/fragment_onboarding_page2.xml
  android/app/src/main/res/layout/fragment_onboarding_page3.xml
  android/app/src/main/res/layout/layout_onboarding_page1.xml
  android/app/src/main/res/layout/layout_onboarding_page2.xml
  android/app/src/main/res/layout/layout_onboarding_page3.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values/strings.xml
Labels: ♻️ Refactor, 🤖 AOS

#190 [AOS] 부품 선택 완료 클릭 시 애니메이션
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/OptionInfo.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/FeedbackView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/RoundedBackgroundSpan.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/drawable/ic_good.xml
  android/app/src/main/res/drawable/ic_smile.xml
  android/app/src/main/res/drawable/shape_selected.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/layout_feed_back.xml
  android/app/src/main/res/layout/layout_hyundai_button.xml
  android/app/src/main/res/values/attrs.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#188 [FE] action #15 빌드 에러 수정
  client/src/components/MakingModeButton/DetailCard.tsx
  client/src/components/MakingModeButton/index.stories.tsx
  client/src/components/MakingModeButton/index.tsx
Labels: 🐛 Bug, 🖥️ FE

#184 [BE] 가이드 모드 외장 색상, 내장 색상 조회 API
  server/src/main/java/team/youngcha/common/enums/AgeRange.java
  server/src/main/java/team/youngcha/common/enums/Gender.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/dto/FindGuideOptionResponse.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
Labels: ✨ Feature, ⚙️ BE

#192 [AOS] 가이드 모드 진입 화면 및 로딩 화면 연결
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/OptionInfo.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/LoadingFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/navigation/nav_graph.xml
Labels: 💄design, 🤖 AOS

#189 [FE] 공통 컴포넌트 및 옵션 선택 페이지 레이아웃 수정
  client/plugins/pixel.js
  client/src/assets/icons/hyundai-logo.tsx
  client/src/assets/icons/index.ts
  client/src/assets/icons/logo/HDLogo.tsx
  client/src/components/Header/HyundaiLogoButton.tsx
  client/src/components/Header/index.tsx
  client/src/components/ProgressBar/ProgressItem.tsx
  client/src/components/ProgressBar/SelectedBar.tsx
  client/src/components/ProgressBar/index.tsx
  client/src/components/SummaryModal/index.tsx
  client/src/components/layout/FullScreenLayout.tsx
  client/src/index.css
  client/src/pages/making/index.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
Labels: ♻️ Refactor, 💄design, 🖥️ FE

#186 [BE] Redis 설정
  server/build.gradle
  server/docker-compose.local.yml
  server/docker-compose.yml
  server/script/deploy.sh
  server/src/main/java/team/youngcha/common/config/RedisConfig.java
  server/src/main/resources/application.yml
  server/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ BE

#194 [BE] 가이드 모드 휠 조회 API
  server/src/main/java/team/youngcha/domain/keyword/enums/KeywordName.java
  server/src/main/java/team/youngcha/domain/keyword/repository/KeywordRepository.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
Labels: ✨ Feature, ⚙️ BE

#204 [AOS] 견적 자세히보기
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/EstimateDetailAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/item_estimate_detail.xml
  android/app/src/main/res/layout/layout_estimate.xml
  android/app/src/main/res/layout/layout_estimate_detail.xml
Labels: ✨ Feature, ♻️ Refactor, 🤖 AOS

#205 [AOS] 애니메이션 추가 구현
  android/app/src/main/java/com/youngcha/ohmycarset/model/car/OptionInfo.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/FeedbackView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/LoadingFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/AnimationUtils.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/item_estimate_summary.xml
  android/app/src/main/res/layout/layout_feed_back.xml
  android/app/src/main/res/layout/layout_hyundai_button.xml
  android/app/src/main/res/navigation/nav_graph.xml
Labels: ✨ Feature, 💄design, 🤖 AOS

#208 [AOS] 메인 페이지 API 연결
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/youngcha/ohmycarset/model/Dictionary.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/TrimMainData.kt
  android/app/src/main/java/com/youngcha/ohmycarset/repository/ApiService.kt
  android/app/src/main/java/com/youngcha/ohmycarset/repository/RetrofitClient.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/MainActivity.kt
Labels: ✨ Feature, 🤖 AOS

#217 [AOS] 전체 금액 계산 및 견적 내기 화면 차량 360도 회전 코드 개선
  android/.gitignore
  android/app/build.gradle
  android/app/google-services.json
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/AnimationUtils.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/ImageViewExtensions.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/ViewExtensions.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/fragment_guidemode_preliminaries.xml
  android/app/src/main/res/layout/fragment_loading.xml
  android/app/src/main/res/layout/item_estimate_detail.xml
  android/app/src/main/res/layout/item_estimate_summary.xml
  android/app/src/main/res/layout/layout_estimate.xml
  android/app/src/main/res/layout/layout_estimate_summary.xml
  android/app/src/main/res/layout/layout_feed_back.xml
  android/app/src/main/res/layout/layout_hyundai_button.xml
  android/build.gradle
Labels: ♻️ Refactor, 🤖 AOS

#211 [BE] Self mode API 성능 개선
  server/build.gradle
  server/src/main/java/team/youngcha/common/config/CustomSerializer.java
  server/src/main/java/team/youngcha/common/config/RedisConfig.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellSelectiveOptionRepository.java
  server/src/test/java/team/youngcha/domain/option/SelfOptionIntegrationTest.java
  server/src/test/resources/application.yml
  server/src/test/resources/schema.sql
Labels: ✨ Feature, ⚙️ BE

#200 [FE] 헤더 옵션 변경 팝업 추가
  client/src/App.tsx
  client/src/assets/icons/model-change-arrow.tsx
  client/src/components/Button/index.tsx
  client/src/components/Header/DictionaryToggleButton.tsx
  client/src/components/Header/ModeChangeButton.tsx
  client/src/components/Header/ModeChangeModal.tsx
  client/src/components/Header/index.tsx
  client/src/components/PopUp/Contents/ModeSelectCard.tsx
  client/src/components/PopUp/Contents/PopUpButton.tsx
  client/src/components/PopUp/index.tsx
  client/src/components/ProgressBar/index.stories.tsx
  client/src/components/ProgressBar/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/making/index.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/types/index.ts
Labels: ✨ Feature, 🖥️ FE

#193 [FE] Confetti 구현
  client/src/components/Confetti/circle-particle.ts
  client/src/components/Confetti/constant.ts
  client/src/components/Confetti/helper.ts
  client/src/components/Confetti/index.tsx
  client/src/components/Confetti/particle.ts
  client/src/index.css
  client/src/pages/guide/CompleteGuide.tsx
  client/src/pages/making/complete/CompleteOptionPage.tsx
Labels: ✨ Feature, 🖥️ FE

#224 [FE] CI 추가 적용
  .github/workflows/fe-ci.yml
Labels: 🖥️ FE

#220 [AOS] 화면 플로우 수정
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/HyundaiButtonView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/LoadingFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_loading.xml
  android/app/src/main/res/layout/layout_estimate_ready.xml
  android/app/src/main/res/navigation/nav_graph.xml
Labels: ♻️ Refactor, 🤖 AOS

#202 [FE] 로딩 화면 연결
  client/src/pages/guide/CompleteGuide.tsx
  client/src/pages/making/complete/CompleteOptionPageWithLoading.tsx
  client/src/pages/making/index.tsx
  client/src/pages/making/loading/constant.ts
  client/src/pages/making/loading/index.tsx
Labels: ✨ Feature, 🖥️ FE

#229 [AOS] 가이드 사전 모드 수정
  android/app/src/main/java/com/youngcha/ohmycarset/model/BodyType.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/DrivingSystem.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/ExteriorColor.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/InteriorColor.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/Option.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/Palisade.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/PowerTrain.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/Wheel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/model/tag/Tag.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/AgeAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/GenderAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/ImportantAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/StrengthAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/UseAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/PowerTrainFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarComponentViewModel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/UserTagViewModel.kt
  android/app/src/main/res/drawable/ic_circle_checked.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/fragment_selfmode_powertrain.xml
  android/app/src/main/res/layout/layout_preliminaries_age.xml
  android/app/src/main/res/layout/layout_preliminaries_gender.xml
  android/app/src/main/res/layout/layout_preliminaries_keyword.xml
  android/app/src/main/res/layout/preliminaries_short_button.xml
Labels: ✨ Feature, ♻️ Refactor, 🤖 AOS

#206 [FE] 404 페이지 구현
  client/src/pages/error/constant.tsx
  client/src/pages/error/index.tsx
  client/src/router/index.tsx
  client/src/utils/getErrorContent.ts
Labels: ✨ Feature, 🖥️ FE

#213 [BE] 가이드 모드 셀프 옵션 조회 API
  server/docker-compose.yml
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateSelectiveOptionRepository.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/controller/SelfOptionController.java
  server/src/main/java/team/youngcha/domain/option/dto/FindGuideOptionResponse.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/test/java/team/youngcha/domain/option/GuideOptionIntegrationTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
Labels: ✨ Feature, ⚙️ BE

#230 [AOS] 견적 보기 - 자세히 보기화면 선택옵션/기본 옵션 전환
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/EstimateDetailAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/AnimationUtils.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/item_estimate_detail.xml
  android/app/src/main/res/layout/layout_estimate.xml
  android/app/src/main/res/layout/layout_estimate_detail.xml
Labels: ✨ Feature, 🤖 AOS

#228 [FE] 옵션 API 연결
  client/src/assets/mock/optionMock.ts
  client/src/components/OptionCard/AdditionalContents/FunctionDetailBox.tsx
  client/src/components/OptionCard/AdditionalContents/SubOptionDescription.tsx
  client/src/components/OptionCard/AdditionalContents/SummarySection.tsx
  client/src/components/OptionCard/CheckIcon.tsx
  client/src/components/OptionCard/ImgSection.tsx
  client/src/components/OptionCard/MoreDetailsButton.tsx
  client/src/components/OptionCard/Tags.tsx
  client/src/components/OptionCard/index.tsx
  client/src/components/ProgressBar/index.tsx
  client/src/hooks/useFetch.ts
  client/src/pages/guide/CompleteGuide.tsx
  client/src/pages/home/BasicOptionLists.tsx
  client/src/pages/home/index.tsx
  client/src/pages/making/constant.ts
  client/src/pages/making/index.tsx
  client/src/pages/making/layout.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/pages/making/select/constant.ts
  client/src/router/index.tsx
  client/src/service/index.ts
  client/src/store/useOptionCardContext.tsx
  client/src/types/option.ts
  client/src/types/router.ts
  client/src/utils/index.ts
  client/src/utils/padWithZero.ts
Labels: ✨ Feature, 🖥️ FE

#235 [AOS] 온보딩 버그 수정
  android/app/src/main/java/com/youngcha/ohmycarset/util/ViewExtensions.kt
  android/app/src/main/res/drawable/img_onboarding.png
  android/app/src/main/res/drawable/img_onboarding_dictionary.png
  android/app/src/main/res/drawable/img_onboarding_dictionary_mode.png
  android/app/src/main/res/drawable/img_onboarding_guide.png
  android/app/src/main/res/drawable/img_onboarding_guide_mode.png
  android/app/src/main/res/layout/fragment_onboarding.xml
  android/app/src/main/res/layout/layout_onboarding_page1.xml
  android/app/src/main/res/layout/layout_onboarding_page2.xml
  android/app/src/main/res/layout/layout_onboarding_page3.xml
Labels: 🐛 Bug, ⚙️ BE

#233 [BE] Nginx https 적용
  server/script/profile.sh
Labels: 🐛 Bug, ✨ Feature, ⚙️ BE

#240 [BE] 휠 가이드 모드 선택 수정
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/option/controller/GuideOptionController.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/option/service/OptionServiceTest.java
Labels: 🐛 Bug, ⚙️ BE

#247 [AOS] 백카사전 구현
  android/app/build.gradle
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/BaekcasajeonDialogView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/res/layout/dialog_baekcasajeon.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/settings.gradle
Labels: ✨ Feature, 🤖 AOS

#244 [BE] Guide mode 필수 선택 옵션 api 속도 개선
  server/src/main/java/team/youngcha/common/config/RedisConfig.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/test/resources/schema.sql
Labels: ✨ Feature, ⚙️ BE

#197 [FE] 가이드 모드 태그 선택값 저장
  client/src/components/Button/index.tsx
  client/src/pages/guide/MoveButtonBox.tsx
  client/src/pages/guide/PrepareGuide.tsx
  client/src/pages/guide/SelectButtonsBox/AgeSelectButtonsBox.tsx
  client/src/pages/guide/SelectButtonsBox/GenderSelectButtonsBox.tsx
  client/src/pages/guide/SelectButtonsBox/KeywordButton.tsx
  client/src/pages/guide/SelectButtonsBox/KeywordSelectButtonsBox.tsx
  client/src/pages/guide/TitleBox.tsx
  client/src/pages/guide/type.ts
  client/src/store/useTagSelectContext.tsx
Labels: ✨ Feature, 🖥️ FE

#245 [BE] 가이드 모드 선택 옵션 조회 기능 수정
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
Labels: 🐛 Bug, ✨ Feature, ⚙️ BE

#221 [FE] 360도 자동차 사진 회전
  client/src/components/Header/index.tsx
  client/src/hooks/useRotate.ts
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/complete/RoateCarImage.tsx
  client/src/utils/getRotateImages.ts
Labels: ✨ Feature, 🖥️ FE

#250 [BE] 자동차 상세정보 조회 기능 수정
  server/src/main/java/team/youngcha/domain/car/dto/CarDetails.java
  server/src/main/java/team/youngcha/domain/car/dto/CarResponse.java
  server/src/main/java/team/youngcha/domain/car/dto/FindCarDetailsResponse.java
  server/src/main/java/team/youngcha/domain/car/dto/GuideModeDetails.java
  server/src/main/java/team/youngcha/domain/car/dto/ModelName.java
  server/src/main/java/team/youngcha/domain/car/entity/Car.java
  server/src/main/java/team/youngcha/domain/car/repository/CarDetailsRepository.java
  server/src/main/java/team/youngcha/domain/car/repository/CarRepository.java
  server/src/main/java/team/youngcha/domain/car/service/CarService.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
  server/src/main/resources/schema.sql
  server/src/test/java/team/youngcha/domain/car/FindCarDetailsIntegrationTest.java
  server/src/test/java/team/youngcha/domain/car/FindCarsIntegrationTest.java
  server/src/test/java/team/youngcha/domain/car/repository/CarDetailsRepositoryTest.java
  server/src/test/java/team/youngcha/domain/car/repository/CarRepositoryTest.java
  server/src/test/java/team/youngcha/domain/car/service/CarServiceTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/sell/repository/SellRepositoryTest.java
  server/src/test/java/team/youngcha/domain/trim/service/TrimServiceTest.java
  server/src/test/resources/data/car.sql
  server/src/test/resources/data/car_details.sql
Labels: ✨ Feature, ⚙️ BE

#253 [BE] Guide mode 색상 선택 API 속도 개선
  server/src/main/java/team/youngcha/common/enums/AgeRange.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellSelectiveOptionRepository.java
Labels: ✨ Feature, ♻️ Refactor, ⚙️ BE

#242 [FE] 로딩 화면 예외 처리 및 css 수정
  client/src/components/layout/FullScreenLayout.tsx
  client/src/pages/guide/CompleteGuideWithLoading.tsx
  client/src/pages/guide/index.tsx
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/complete/CompleteOptionPageWithLoading.tsx
  client/src/pages/making/loading/index.tsx
Labels: 🐛 Bug, 💄design, 🖥️ FE

#252 [FE] 옵션 카드 내부 내용 설정
  client/src/assets/icons/MoreDetailsArrow.tsx
  client/src/components/FeedbackCard/index.tsx
  client/src/components/MakingModeButton/index.tsx
  client/src/components/OptionCard/AdditionalContents/FunctionDetailBox.tsx
  client/src/components/OptionCard/ImgSection.tsx
  client/src/components/OptionCard/MoreDetailsButton.tsx
  client/src/components/OptionCard/Name.tsx
  client/src/components/OptionCard/PriceSection.tsx
  client/src/components/OptionCard/Rate.tsx
  client/src/components/OptionCard/Tags.tsx
  client/src/components/OptionCard/index.tsx
  client/src/components/SummaryModal/index.tsx
  client/src/pages/home/CarsImageBox.tsx
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/complete/SummaryOption.tsx
  client/src/pages/making/complete/SummaryOptionsBox.tsx
  client/src/pages/making/detail-option-box/DetailOptionHeader.tsx
  client/src/pages/making/detail-option-box/DetailOptionList.tsx
  client/src/pages/making/select/SelectOptionListContainer.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/utils/formatPrice.ts
  client/src/utils/getPriceTemplete.ts
  client/src/utils/index.ts
Labels: ✨ Feature, 🖥️ FE

#258 [BE] 트림 기본 품목 조회 기능 추가
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
Labels: ✨ Feature, ⚙️ BE

#261 [BE] 트림 기본 품목 조회 시 아이콘 이미지가 조회되는 오류
  server/src/main/java/team/youngcha/domain/car/repository/CarDetailsRepository.java
  server/src/main/java/team/youngcha/domain/option/enums/OptionType.java
  server/src/main/java/team/youngcha/domain/option/repository/OptionRepository.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
Labels: 🐛 Bug, ⚙️ BE

#262 [BE] Guide mode 선택 옵션 API 개선
  server/src/main/java/team/youngcha/common/config/CustomSerializer.java
  server/src/main/java/team/youngcha/common/config/RedisConfig.java
  server/src/main/java/team/youngcha/domain/estimate/repository/EstimateRepository.java
  server/src/main/java/team/youngcha/domain/option/service/OptionService.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellRepository.java
  server/src/main/java/team/youngcha/domain/sell/repository/SellSelectiveOptionRepository.java
Labels: ♻️ Refactor, ⚙️ BE

#265 [FE] 백카사전 기능 추가 및 로직 변경 적용
  client/package.json
  client/pnpm-lock.yaml
  client/src/App.tsx
  client/src/components/MakingModeButton/index.tsx
  client/src/components/OptionCard/AdditionalContents/SummarySection.tsx
  client/src/components/OptionCard/Name.tsx
  client/src/components/OptionCard/index.tsx
  client/src/constant.ts
  client/src/pages/home/BasicOptionBox.tsx
  client/src/pages/home/BasicOptionLists.tsx
  client/src/pages/home/CarsImageBox.tsx
  client/src/pages/home/FirstScreenBox.tsx
  client/src/pages/home/HomePage.tsx
  client/src/pages/home/MakingCarButtonsBox.tsx
  client/src/pages/home/TrimCardsBox.tsx
  client/src/pages/home/index.tsx
  client/src/pages/home/type.ts
  client/src/pages/making/constant.ts
  client/src/pages/making/select/SelectOptionMessage.tsx
  client/src/router/index.tsx
  client/src/types/dictionary.ts
  client/src/types/index.ts
  client/src/utils/getNewOptionData.ts
Labels: ✨ Feature, 🖥️ FE

#259 [FE] 가이드 모드 사전 준비 단계 새로고침 시의 동작 구현
  client/src/hooks/useTagRefreshNavigator.ts
  client/src/pages/guide/SelectButtonsBox/AgeSelectButtonsBox.tsx
  client/src/pages/guide/SelectButtonsBox/GenderSelectButtonsBox.tsx
  client/src/pages/guide/SelectButtonsBox/KeywordSelectButtonsBox.tsx
Labels: ✨ Feature, 🖥️ FE

#263 [FE] 모델 변경 팝업 구현
  client/src/assets/mock/ModelListMock.ts
  client/src/assets/mock/icons/nexo.svg
  client/src/assets/mock/icons/the-all-new-kona.svg
  client/src/components/PopUp/Contents/DualMufflerImg.tsx
  client/src/components/PopUp/Contents/ModeSelectCard.tsx
  client/src/components/PopUp/Contents/ModelCarousel.tsx
  client/src/components/PopUp/Contents/ModelSelectCard.tsx
  client/src/components/PopUp/Contents/PopUpButton.tsx
  client/src/components/PopUp/Contents/PopUpProgressBar.tsx
  client/src/components/PopUp/ModelListPopUp.tsx
  client/src/components/PopUp/SpecificModelChangePopUp.tsx
  client/src/components/PopUp/constant.ts
  client/src/components/PopUp/index.stories.tsx
  client/src/components/PopUp/index.tsx
Labels: ✨ Feature, 🖥️ FE

#274 [FE] Confetti 오류 수정
  client/src/components/Confetti/index.tsx
Labels: 🐛 Bug, 🖥️ FE

#275 [FE] favicon 설정
  client/index.html
  client/public/favicon.png
Labels: ✨ Feature, 🖥️ FE

#271 [FE] 선택 옵션 선택 페이지
  client/src/assets/mock/mock.ts
  client/src/components/OptionCard/AdditionalContents/SubOptionDescription.tsx
  client/src/components/OptionCard/AdditionalContents/SubOptions.tsx
  client/src/components/OptionCard/Skeleton.tsx
  client/src/components/OptionCard/Tags.tsx
  client/src/components/OptionCard/index.tsx
  client/src/components/RotateCarImage/index.tsx
  client/src/components/Spinner/index.tsx
  client/src/hooks/useFetch.ts
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/constant.ts
  client/src/pages/making/detail-option-box/DetailOptionHeader.tsx
  client/src/pages/making/detail-option-box/DetailOptionList.tsx
  client/src/pages/making/index.tsx
  client/src/pages/making/select/SelectMultiOptionPage.tsx
  client/src/pages/making/select/SelectOptionFooter.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/pages/making/select/index.ts
  client/src/pages/making/select/type.ts
  client/src/pages/making/type.ts
Labels: ✨ Feature, 🖥️ FE

#278 [FE] 가이드모드 키워드 선택시 데이터 요청
  client/src/components/SummaryModal/index.tsx
  client/src/hooks/useSelectOption.ts
  client/src/pages/guide/CompleteGuideWithLoading.tsx
  client/src/pages/guide/MoveButtonBox.tsx
  client/src/pages/guide/constant.ts
  client/src/pages/guide/index.tsx
  client/src/pages/home/CarsImageBox.tsx
  client/src/pages/home/index.tsx
  client/src/pages/making/constant.ts
  client/src/pages/making/select/SelectOptionFooter.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/pages/making/type.ts
  client/src/types/option.ts
  client/src/utils/optionStorage.ts
Labels: ✨ Feature, 🖥️ FE

#279 [FE] 피드백 카드 연결
  client/src/assets/icons/SmileIcon.tsx
  client/src/assets/icons/ThumbsUpIcon.tsx
  client/src/components/FeedbackCard/index.tsx
  client/src/components/OptionCard/index.tsx
  client/src/components/RotateCarImage/index.tsx
  client/src/hooks/useFetch.ts
  client/src/pages/home/index.tsx
  client/src/pages/making/select/SelectMultiOptionPage.tsx
  client/src/pages/making/select/SelectOptionFooter.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
Labels: ✨ Feature, 🖥️ FE

#281 [FE] 가이드모드 키워드 선택시 데이터 요청
  client/src/hooks/useSelectOption.ts
  client/src/pages/guide/CompleteGuide.tsx
  client/src/pages/guide/CompleteGuideWithLoading.tsx
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/constant.ts
  client/src/pages/making/detail-option-box/DetailBasicOptionBox.tsx
  client/src/pages/making/detail-option-box/DetailSelectOptionBox.tsx
  client/src/pages/making/index.tsx
  client/src/pages/making/select/SelectMultiOptionPage.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/utils/getNewOptionData.ts
  client/src/utils/getNewOptionsData.ts
Labels: ✨ Feature, 🖥️ FE

#283 [FE] 팝업창 연결
  client/src/components/Header/HeaderPopUp/ExitPopUp.tsx
  client/src/components/Header/HeaderPopUp/ModeChangePopUp.tsx
  client/src/components/Header/HeaderPopUp/ModelChangePopUp.tsx
  client/src/components/Header/HeaderPopUp/ModelListPopUp.tsx
  client/src/components/Header/HeaderPopUp/SpecificModelChangePopUp.tsx
  client/src/components/Header/ModeChangeButton.tsx
  client/src/components/Header/ModelChangeButton.tsx
  client/src/components/Header/index.tsx
  client/src/components/PopUp/Contents/ModelCarousel.tsx
  client/src/components/PopUp/ModelListPopUp.tsx
  client/src/components/PopUp/SpecificModelChangePopUp.tsx
  client/src/components/PopUp/constant.ts
  client/src/components/PopUp/index.stories.tsx
  client/src/components/PopUp/index.tsx
  client/src/pages/making/select/PowerTrainChangePopUp.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
Labels: ✨ Feature, 🖥️ FE

#295 [AOS] 외장 색상 선택 시 360도 회전
  android/app/build.gradle
  android/app/src/main/java/com/youngcha/ohmycarset/data/repository/CategoryRepository.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/repository/GuideModeRepository.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/MainActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/CarOptionPagerAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/CircleView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/LoadingFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/CarImageUtils.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/Constants.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/ImageViewExtensions.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/GuideModeViewModel.kt
  android/app/src/main/res/drawable/ic_check_guide.xml
  android/app/src/main/res/drawable/ic_face.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/item_estimate_detail.xml
  android/app/src/main/res/layout/layout_estimate.xml
  android/app/src/main/res/layout/layout_estimate_detail.xml
  android/app/src/main/res/layout/layout_estimate_ready.xml
  android/app/src/main/res/layout/layout_estimate_summary.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 🤖 AOS

#298 [AOS] 백카사전 기능 구현
  android/app/src/main/java/com/youngcha/ohmycarset/data/api/BaekcasajeonApiService.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/api/RetrofitClient.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/dto/BaekcasajeonDTO.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/dto/DataXXX.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/model/Baekcasajeon.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/repository/BaekcasajeonRepository.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/activity/MainActivity.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/BaekcasajeonDialogView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/HeaderToolBarView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/ViewExtensions.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/BaekcasajeonViewModel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/TrimSelectViewModel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/factory/BaekcasajeonFactory.kt
  android/app/src/main/res/layout/dialog_baekcasajeon.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/fragment_trim_select.xml
  android/app/src/main/res/layout/view_header_toolbar.xml
Labels: ✨ Feature, 🤖 AOS

#300 [AOS] 내 차 만들기 자세히 보기 커스텀 다이얼로그 연결 #299
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/HyundaiButtonView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/TextViewExtensions.kt
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/fragment_trim_select.xml
  android/app/src/main/res/layout/view_header_toolbar.xml
Labels: ✨ Feature, 🤖 AOS

#301 [AOS] 내 차 만들기 - 자세히 보기
  android/app/src/main/java/com/youngcha/ohmycarset/data/dto/Detail.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/model/dialog/SwipeDialog.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/CarOptionPagerAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/customview/HyundaiButtonView.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/util/DialogUtils.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/CarCustomizationViewModel.kt
  android/app/src/main/res/layout/dialog_text.xml
  android/app/src/main/res/layout/fragment_car_customization.xml
  android/app/src/main/res/layout/item_dialog_swipe.xml
  android/app/src/main/res/layout/layout_hyundai_button.xml
Labels: ✨ Feature, 🤖 AOS

#310 [FE] 프론트엔드 CD 수정
  .github/workflows/fe-cd.yml
Labels: ✨ Feature, 🖥️ FE

#296 [FE] 숫자 카운팅 애니메이션
  client/src/hooks/useAnimatedPrice.ts
  client/src/pages/making/select/SelectOptionFooter.tsx
Labels: ✨ Feature, 🖥️ FE

#297 [FE] 가이드 모드 옵션 카드 애니메이션 구현
  client/src/components/FeedbackCard/index.tsx
  client/src/components/OptionCard/Rate.tsx
  client/src/components/OptionCard/Skeleton.tsx
  client/src/components/OptionCard/index.tsx
  client/src/index.css
  client/src/pages/making/select/SelectMultiOptionPage.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/types/option.ts
  client/tailwind.config.js
Labels: ✨ Feature, 🖥️ FE

#308 [FE] 선택 옵션 카드 데이터 연동
  client/package.json
  client/pnpm-lock.yaml
  client/src/App.tsx
  client/src/components/Header/HeaderPopUp/ExitPopUp.tsx
  client/src/components/OptionCard/Name.tsx
  client/src/components/RotateCarImage/index.tsx
  client/src/components/SummaryModal/index.tsx
  client/src/hooks/useAnimatedPrice.ts
  client/src/hooks/useSelectOption.ts
  client/src/pages/making/complete/CompleteOptionPage.tsx
  client/src/pages/making/constant.ts
  client/src/pages/making/detail-option-box/DetailSelectOptionBox.tsx
  client/src/pages/making/index.tsx
  client/src/pages/making/select/SelectMultiOptionPage.tsx
  client/src/pages/making/select/SelectOptionFooter.tsx
  client/src/pages/making/select/SelectOptionPage.tsx
  client/src/store/useUserSelectedOptionContext.tsx
  client/src/utils/getRotateImages.ts
Labels: ✨ Feature, 🖥️ FE

#312 [AOS] 가이드모드 사전 준비 키워드 오류
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/UserTagViewModel.kt
Labels: 🐛 Bug, 🤖 AOS

#314 [BE] 자동차 상세정보 조회 API 배경 이미지 항목 수정
  server/src/main/java/team/youngcha/domain/car/dto/CarDetails.java
  server/src/main/java/team/youngcha/domain/car/dto/GuideModeDetails.java
  server/src/main/java/team/youngcha/domain/car/dto/TrimBackgroundImgUrl.java
  server/src/main/java/team/youngcha/domain/car/repository/CarDetailsRepository.java
  server/src/main/java/team/youngcha/domain/car/service/CarService.java
  server/src/main/java/team/youngcha/domain/trim/dto/TrimDetail.java
  server/src/main/java/team/youngcha/domain/trim/entity/Trim.java
  server/src/main/java/team/youngcha/domain/trim/repository/TrimRepository.java
  server/src/main/java/team/youngcha/domain/trim/service/TrimService.java
  server/src/main/resources/schema.sql
  server/src/test/java/team/youngcha/domain/car/FindCarDetailsIntegrationTest.java
  server/src/test/java/team/youngcha/domain/car/repository/CarDetailsRepositoryTest.java
  server/src/test/java/team/youngcha/domain/car/service/CarServiceTest.java
  server/src/test/java/team/youngcha/domain/option/repository/OptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/sell/repository/SellRepositoryTest.java
  server/src/test/java/team/youngcha/domain/sell/repository/SellSelectiveOptionRepositoryTest.java
  server/src/test/java/team/youngcha/domain/trim/service/TrimServiceTest.java
  server/src/test/resources/data/car_details.sql
  server/src/test/resources/data/trim.sql
  server/src/test/resources/schema.sql
Labels: ✨ Feature, ⚙️ BE

#318 [FE] Tailwind CSS 플러그인 적용
  client/package.json
  client/plugins/pixel.js
  client/pnpm-lock.yaml
  client/tailwind.config.js
Labels: ♻️ Refactor, 🖥️ FE

#313 [FE] 이동 탭 클릭 시 사이즈 초기화 로직 추가
  client/src/components/ProgressBar/index.tsx
  client/src/components/SummaryModal/index.tsx
  client/src/pages/home/BasicOptionBox.tsx
  client/src/pages/home/CarsImageBox.tsx
  client/src/pages/home/CarsNameListBox.tsx
  client/src/pages/home/ExteriorColorBox.tsx
  client/src/pages/home/FirstScreenBox.tsx
  client/src/pages/home/GuideModeButton.tsx
  client/src/pages/home/InternalColorBox.tsx
  client/src/pages/home/OptionLayout.tsx
  client/src/pages/home/TrimCardsBox.tsx
  client/src/pages/making/detail-option-box/DetailBasicOptionBox.tsx
  client/src/pages/making/detail-option-box/DetailOptionHeader.tsx
  client/src/pages/making/select/SelectOptionMessage.tsx
  client/src/types/index.ts
  client/src/utils/getRotateImages.ts
Labels: 🐛 Bug, 🖥️ FE

#321 [AOS] 트림 선택, 가이드 모드 사전준비 최종 수정
  android/app/build.gradle
  android/app/src/main/java/com/youngcha/ohmycarset/data/dto/TrimMainData.kt
  android/app/src/main/java/com/youngcha/ohmycarset/data/model/TrimMainData.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/binding/BindingAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeExteriorColorAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeInteriorColorAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeMainFeatureAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/adapter/recyclerview/TrimSelfModeMainOptionAdapter.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/TrimSelectFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/TrimSelectViewModel.kt
  android/app/src/main/java/com/youngcha/ohmycarset/viewmodel/UserTagViewModel.kt
  android/app/src/main/res/layout/item_trim_self_mode_main_option.xml
  android/app/src/main/res/layout/layout_guide_mode.xml
  android/app/src/main/res/layout/layout_preliminaries_age.xml
  android/app/src/main/res/layout/layout_preliminaries_gender.xml
  android/app/src/main/res/layout/layout_preliminaries_keyword.xml
  android/app/src/main/res/layout/layout_self_mode.xml
Labels: ♻️ Refactor, 🤖 AOS

#325 [AOS] 최종 수정
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/CarCustomizationFragment.kt
  android/app/src/main/java/com/youngcha/ohmycarset/ui/fragment/EstimateReadyFragment.kt
Labels: 🤖 AOS
